@import 'app/scss/base';
@import 'app/scss/null';


// Header
html,
body {
  scroll-behavior: smooth;
}
.header {
  margin-bottom: 100px;
  position: fixed;
  width: 100%;
  z-index: 10;
  backdrop-filter: blur(10px); /* Устанавливаем размытие */
  // backdrop-filter: blur(8px) grayscale(50%) brightness(1.2);
  // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень для эффекта глубины */
  // background: linear-gradient(90deg, rgba(255,128,2,1) 0%, rgb(253, 85, 18) 100%);

}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;

  @media (max-width: $md1+px) {
    padding: 10px 10px;
  }

  @media (max-width: $md3+px) {
    // background: linear-gradient(90deg, rgba(255,128,2,1) 0%, rgba(253,18,132,1) 100%);
  }

  @media (max-width: 600px) {
    gap: 30px;
  }
}
._container {
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 0px 8px;
}
.logo {
}
.logo__title {
  font-size: 34px;
  font-weight: 700;
  transition: all .3s;


  
}
.logo__title a{
  color:#fff;
  font-size: 24px;

  @media (max-width: $md3+px) {
    font-size: 16px;
    vertical-align: middle;
    display: none;

  }
}

.logo__title:hover a{
  background: $mainBackgroundGradient; /* Задаем градиент */
  -webkit-background-clip: text; /* Используем градиент как заливку для текста */
  -webkit-text-fill-color: transparent; /* Делаем текст прозрачным, чтобы был виден только градиент */
  transition: all .3s;
}


.logo__link{
  color:#fff;
}
.logo__icon {
}

.logo__icon-path {
  fill: #fff; /* Задаем начальный цвет для SVG */
  transition: fill 0.3s ease; /* Плавный переход */
}

/* При наведении меняем заливку на градиент */
.logo__icon-svg:hover .logo__icon-path {
  @media (min-width:768px){
    fill: url(#hover-gradient);
    transition: fill 0.3s ease; /* Плавный переход */
  }
}


.header__menu {
}
.header__list {
  display: flex;
  gap: 0px 32px;

  @media (max-width: $md3+px) {
    gap: 0px 10px;
  }
  @media (max-width: 600px) {
    gap: 10px 10px;
    flex-wrap: wrap;

  }
}
.header__item {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  // text-transform: uppercase;

  @media (max-width: 600px) {
    font-size: 18px;
    font-weight: 500;

  }
}

.header__item::before{
  content:'';
  display: inline-block;
  width: 100%;
  height: 1px;
  background: $mainBackgroundGradient;
  position: absolute;
  bottom: -16px;
  left: 0;
  opacity: 0;
  transition: all .3s;
  
}

.header__item:hover.header__item::before{
  @media (min-width:768px){
    content:'';
    display: inline-block;
    width: 100%;
    height: 2px;
    background: $mainBackgroundGradient;
    position: absolute;
    bottom: -8px;
    left: 0;
    opacity: 1;
    transition: all .3s;
  }  
}

.header__item:hover .header__link{
  @media (min-width:768px){
    background: $mainBackgroundGradient; /* Задаем градиент */
    -webkit-background-clip: text; /* Используем градиент как заливку для текста */
    -webkit-text-fill-color: transparent; /* Делаем текст прозрачным, чтобы был виден только градиент */
  }  
}
.header__link{
  color:#fff;
  transition: all .3s;
}

.btn{
  color: #fff;
  width: 140px;
  padding: 10px 0px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid white;
  line-height: 24px;
  font-size: 20px;
}

// Header


// Footer

.footer {
  padding: 0px 0px 127px 0px;
  position: relative;
  @media (max-width: $md1+px) {
    padding: 0px 0px 100px 0px;
  }

  @media (max-width: $md2+px) {
    padding: 0px 0px 60px 0px;
  }

  @media (max-width: $md3+px) {
    padding: 0px 0px 20px 0px;
  }
  
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  position: relative;
  @media (max-width: $md3+px) {
    display: block;
  }
  
}
._container {
}
.footer__left {
}
.footer__img-code1 {
  margin-bottom: 70px;

}
.footer__img-code1 img{
  width: 180px;
  height: 138px;
}
.footer__social {
  margin-bottom: 32px;
  
  
}
.social {
}
.social__list {
  display: flex;
  gap: 0px 30px;
  @media (max-width: $md3+px) {
    gap: 0px 15px;
  }
}
.social__item {
  font-size: 24px;
  font-weight: 700;
  @media (max-width: $md3+px) {
    font-size: 20px;
  }
}
.social__link {
  color:#fff;
}
.social__item:hover .social__link{
  @media (min-width:768px){
    background: $mainBackgroundGradient; /* Задаем градиент */
    -webkit-background-clip: text; /* Используем градиент как заливку для текста */
    -webkit-text-fill-color: transparent; /* Делаем текст прозрачным, чтобы был виден только градиент */
  }
}

.footer__email {
  font-size: 24px;
  @media (max-width: $md3+px) {
    margin-bottom: 20px;
    font-size: 18px;
  }
}
.footer__right {
  padding: 0px 10px 0px 0px;
}
.footer__img-code2 {
  position: absolute;
  bottom: 100px;
  right: -70px;
  z-index: -1;
}
.footer__img-code2 img{
  filter: blur(10px); /* 5px - это степень размытия */
}

.footer__city {
  font-size: 24px;
  @media (max-width: $md3+px) {
    font-size: 18px;
  }
  @media (max-width: 633px) {
    font-size: 16px;
  }
}
.footer__arr-up {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  @media (max-width: $md3+px) {
    right: 20px;
  }
}



// MAIN HERO

.main {
  
}
.main__content {
  
}
._container {
}
.hero {
  margin-top: 170px;
  margin-bottom: 300px;

  @media (max-width: $md3+px) {
    margin-top: 100px;
  
  }
}
.hero__content {
  display: flex;
  justify-content: space-between;
  position: relative;
  @media (max-width: $md3+px) {
// justify-content: baseline;
	}
}
.hero__title {
  font-size: 60px;
  font-weight: 700;
  max-width: 650px;
  line-height: 78px;
 font-family: 'Montserrat';
 @media (max-width: $md3+px) {
  min-width: 300px;
  font-size: 50px;
  line-height: 58px;
    }

}
.hero__title-dev{
  min-height: 100px;
}



.hero__title-overlay1{
position: absolute;
bottom: 60px;
left: -50px;
font-size: 120px; /* Размер шрифта */
font-weight: 700;
color: transparent; /* Делаем текст прозрачным */
-webkit-text-stroke: 1px rgba(255, 255, 255,0.3); /* Добавляем обводку (цвет и ширина) */
-webkit-text-fill-color: transparent; /* Заполнение текста тоже делаем прозрачным */
z-index: -1;
opacity: 0;
transition: opacity 3s;
@media (max-width: $md3+px) {
  font-size: 80px; /* Размер шрифта */
  left: 0px;
  bottom: 70px;

}
}

.hero__title-overlay1.active{
  opacity: 1;
  }
.hero__title-overlay2{
  position: absolute;
  bottom: -60px;
  left: 50px;
  font-size: 120px; /* Размер шрифта */
  font-weight: 700;
  color: transparent; /* Делаем текст прозрачным */
  -webkit-text-stroke: 1px rgba(255, 255, 255,0.3); /* Добавляем обводку (цвет и ширина) */
  -webkit-text-fill-color: transparent; /* Заполнение текста тоже делаем прозрачным */
  z-index: -1;
  opacity: 0;
  transition: opacity 3s;
  @media (max-width: $md3+px) {
    font-size: 80px; /* Размер шрифта */
    bottom: -30px;
    left: 50px;
  
  }
  }
  .hero__title-overlay2.active{
    opacity: 1;
    }
.hero__title-gradient{
  background: $mainBackgroundGradient; /* Задаем градиент */
  background-size: 200% 200%; /* Увеличиваем размер для анимации */
  -webkit-background-clip: text; /* Используем градиент как заливку для текста */
  -webkit-text-fill-color: transparent; /* Делаем текст прозрачным, чтобы был виден только градиент */
  animation: gradientFlow 3s infinite linear;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.hero__hello {
  position: absolute;
  right: 0;
  width: 200px;
  @media (max-width: $md2 + px) {
    left: 0;
    bottom: -300px;
	}

}
.hello {
}
.hello__img {
  margin-bottom: 30px;
}
.hello__text {
  font-size: 32px;
  font-weight: 700;
  
}
@keyframes blink {
  50% { opacity: 0; }
}
.hello__text::after {
  content: '|';
  opacity: 1;
  animation: blink 0.5s step-end infinite;
}


.hero__social {
  display: flex;
  flex-direction: column;
   gap: 10px 0;
  text-align: center;
  position: fixed;
  right: 0px;
  bottom: 180px;
z-index: 10;

@media (max-width: 1800px) {
  right: -20px;

}
@media (max-width: $md1+px) {
  right: 20px;

}
@media (max-width: $md3+px) {
  right: 10px;
  bottom: 0;

}

}

.hero__social::after{
  content:'';
  display: inline-block;
  width: 3px;
  height: 150px;
  background: $mainBackgroundGradient;
  background-size: 200% 200%; /* Увеличиваем размер фона для эффекта переливания */
  position: relative;
  right: -50%;

   /* Добавляем анимацию */
   animation: gradientShift 3s infinite linear;

   @media (max-width: $md3+px) {
   display: none;
  }
  
}
@keyframes gradientShift {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.hero__social::before{
  content:'Сообщества';
  display: inline-block;
  position: relative;
  // bottom:100px;
  top: 350px;
  right: -50%;

  transform: translate(-43%,0) rotate(90deg);
  font-size: 15px;
  text-transform: uppercase;
  height: 0;
  @media (max-width: $md3+px) {
    display: none;
   }
}
.hero__git {
  // margin-bottom: 20px;
  @media (max-width: $md3+px) {
    display: none;
   }
}
.logo__icon-svg {
}
.logo__icon-path {
}
.hero__tg {
  margin-bottom: 20px;
}
.hero__img-code1 {
  position: absolute;
  top: 180px;
  right: -50px;
  filter: blur(10px); 
  animation: opacity 6s infinite linear; 
  z-index: -1;

  @media (max-width: $md3+px) {
    top: 250px;
  
  }


}
@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.hero__img-code2 {
  position: absolute;
  top: 650px;
  left: -80px;
  filter: blur(10px);  
  animation: opacity 6s infinite linear;
  animation-delay: 3s; 
  z-index: -1;
  @media (max-width: $md3+px) {
    display: none;
  
  }
}




// PROJECT
// #projects{
//   scroll-margin-top: 120px;
//   @media (max-width: $md1+px) {
//     scroll-margin-top: 0px;
// 	}
// }
.projects {
  padding-top: 120px;
  margin-bottom: 300px;
  @media (max-width: $md1+px) {
    margin-bottom: 100px;
	}

  @media (max-width: $md3+px) {
    margin-bottom: 60px;
    padding-top: 80px;
	}
  @media (max-width: 533px) {
    margin-bottom: 0px;
    padding-top: 80px;
	}

}
.projects__content {
  position: relative;
}
.projects__title {
  // font-size: 96px;
  // font-weight: 700;
  // text-align: center;
  margin-bottom: 80px;
  // text-transform: uppercase;
  @media (max-width: $md1+px) {
    margin-bottom: 70px;
	}
  @media (max-width: $md2+px) {
    margin-bottom: 60px;
	}
  @media (max-width: $md3+px) {
    margin-bottom: 40px;
	}
}
.projects__tabs {
}
.tabs {
}
.tabs__contorls {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 44px;
}
.contols-tabs {
}
.contols-tabs__list {
  display: flex;
  gap: 0px 16px;
  justify-content: center;

  @media (max-width: $md3+px) {
	  gap: 16px 16px;
    
    flex-wrap: wrap;
	}

}
.contols-tabs__item {
  display: block;
  padding: 12px;
  border:1px solid rgb(255, 255, 255);
  border-radius: 8px;
  flex: 0 1 auto;
  
  background: transparent;
  transition: background 0.3s;
  cursor: pointer;

}

.contols-tabs__item.active{
  background: $mainBackgroundGradient;
}

.contols-tabs__item:hover{
  @media (min-width:768px){
    background: $mainBackgroundGradient;
    transition: background 0.3s;
  }
}
.tabs__content {
  
}
.content-tabs {
  
}
.content-tabs__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 44px 32px;
  
}
.content-tabs__item {
  flex: 0 1 20%;
}
.content-tabs__img {

  border-radius:8px;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
  
  
}
.content-tabs__img img{
  width: 100%;
  height: 100%;
  object-fit: contain;

}
.content-tabs__img-overlay{
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.7);
position: absolute;
top: 0;
left: 0;
opacity: 0;
visibility: hidden;
transition: all 0.3s;
}
.content-tabs__img:hover .content-tabs__img-overlay{
  @media (min-width:768px){
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  }

  .content-tabs__img-icons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }
.content-tabs__img-icons{
  
display: flex;
align-items: center;
gap: 15px;
}

.content-tabs__img:hover .content-tabs__img-icons{
  @media (min-width:768px){
    visibility: visible;
    opacity: 1;
  }
  

  }
  .content-tabs__img-icon{
    width: 48px;
    height: 48px;
  }
  .content-tabs__img-icon:hover .logo__icon-path{
    fill: url(#hover-gradient);
    transition: fill 0.3s ease; /* Плавный переход */
  }
 

.content-tabs__title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}



// Swiper

.swiper {
  width: 100%;
  // height: 300px;
}
.swiper-wrapper{

}

.swiper-slide{
 
  opacity: 0;
position: absolute;
top: 100%;
// left: 100%;
transition: all 1s;
  // width: 400px;
  // height: 400px;
}

.swiper-slide.active{
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all 1s;
  // width: 400px;
  // height: 400px;
}

.swiper-scrollbar{
  background: black;
  height: 1px !important;;
 
}

.swiper-scrollbar-drag{
  background: linear-gradient(90deg, rgba(255,128,2,1) 0%, rgba(253,18,132,1) 100%);
}















// Skills

.skills {
  padding-top: 120px;
  @media (max-width: $md3+px) {
		padding-top: 90px;
	}
}
.skills__content {
  position: relative;
  margin-bottom: 300px;
  @media (max-width: $md1+px) {
		margin-bottom: 150px;
	}

  @media (max-width: $md3+px) {
		margin-bottom: 100px;
	}
  @media (max-width: 533px) {
		margin-bottom: 40px;
	}
  @media (max-width: 533px) {
		margin-bottom: 0px;
	}

}
.skills__title {
  margin-bottom: 80px;
  @media (max-width: $md3+px) {
		margin-bottom: 40px;
	}
}
.title{
  text-align: center;
  font-size: 96px;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: $md2+px) {
		font-size: 76px;
	}
  @media (max-width: $md3+px) {
		font-size: 36px;
	}
}
.skills__list {
  display: flex;
  justify-content: center;
  gap: 10px 24px;
  flex-wrap: wrap;
  @media (max-width: $md3+px) {
    justify-content: space-evenly;
	}
}
.skills__item {
  text-align: center;
}
.skills__img {
  margin-bottom: 20px;
}
.skills__img img{
  @media (max-width: $md3+px) {
    width: 120px;
	}
  @media (max-width: 533px) {
    width: 80px;
	}
  
}
.skills__name {
  font-size: 16px;
  font-weight: 700;
}
.title-overlay {
  text-align: center;
  font-size: 200px;
  font-weight: 700;
  text-transform: uppercase;
  color:transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255,0.3); /* Добавляем обводку (цвет и ширина) */
  -webkit-text-fill-color: transparent; /* Заполнение текста тоже делаем прозрачным */
  position: absolute;
  top: -50px;
  right: 50%;
  transform: translate(50%,0);

  @media (max-width: $md1+px) {
		font-size: 150px;
    top: -30px;
	}
  @media (max-width: $md2+px) {
		font-size: 120px;
    top: -25px;
	}
  @media (max-width: $md3+px) {
		font-size: 66px;
    top: -15px;
	}


}

.title-overlay-min{
  @media (max-width: $md3+px) {
		font-size: 50px;
    top: -5px;
	}
}


// EXP


.experience {
  padding-top: 100px;
  padding-bottom: 120px;

  @media (max-width: 533px) {
    padding-top:80px;

	}
}
.experience__content {
  position: relative;
  
}
.experience__chapter {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: space-between;
  // border:1px solid white;


  
}
.chapter-experience {
  margin-top: 200px;
  @media (max-width: $md1 + px) {
    margin-top: 160px;

	}
  @media (max-width: $md2 + px) {
    margin-top: 120px;

	}
  @media (max-width: $md2 + px) {
    margin-top: 80px;

	}
  @media (max-width: 533px) {
    margin-top: 40px;

	}

}
.experience__item {
width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  @media (max-width: $md2 + px) {
    flex-direction: row-reverse;
  

	}

  // border: 1px solid white;

  // @media (max-width: 1080px) {
  //   min-height: 450px;
	// }
  // @media (max-width: 570px) {
  //   min-height: 550px;
	// }
  // @media (max-width: 470px) {
  //   min-height: 800px;
	// }

}
.experience__item::after{
  content: "";
  display: inline-block;
width: 2px;
height: 100%;
background: rgb(255, 255, 255);
position: absolute;
left: 50%;
top: 0px;
transform: translate(-50%,0);
z-index: -1;
@media (max-width: $md2 + px) {
  left: 37px;
}
@media (max-width: 500px) {
  left: 24px;
}
}
// .experience__item:first-child{
//   @media (max-width: 1080px) {
//     min-height: 200px;
// 	}
// }
.experience__item-reverse{
  flex-direction: row-reverse;
}
.item-experience {
}
.item-experience__info {
 
  @media (max-width: $md2 + px) {
    margin-bottom: 20px;
  }

}
.info-experience {
  flex: 0 0 45%;
  padding: 25px 45px 25px 45px;
  background: white;
  color: black;
  border-radius: 8px;
  // margin-right: 40px;
  // position: absolute;
  // right: 100px;
  //  max-width: 550px;
  //  min-width: 450px;
  //  @media (max-width: 1080px) {
  //   left: 100px;
  //   right: 0;
  //   min-width: none;
  //   max-width: 550px;
	// }
  // @media (max-width: 570px) {
  //   min-width: 350px;
	// }
  // @media (max-width: 470px) {
  //   min-width: 250px;
  //   left: 90px;
	// }
  @media (max-width: $md1 + px) {
    padding: 25px 45px 25px 45px;
  }
  @media (max-width: $md2 + px) {
    flex: 0 0 80%;
  }
  @media (max-width: $md3 + px) {
    padding: 20px 10px 20px 40px;
  }
}
.info-experience-reverse{
  left: 100px;
  right: 0;
  // position: absolute;
  // right: -300px;
  // width: 100%;
}
.info-experience__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: -22px;
  @media (max-width: $md3 + px) {
    font-size: 16px;
	}
}
.info-experience__subtitle{
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-left: -22px;
}
.info-experience__list{
  // list-style-position: inside;
  // padding: 0;
}
.info-experience__list li{
  list-style: inside;
  text-indent: -22px;
  @media (max-width: $md3 + px) {
    text-indent: -18px;
	}

}
.info-experience__item {
  // width: 300px;
  font-size: 16px;
  line-height: 24px;
  @media (max-width: $md3 + px) {
    font-size: 13px;
	}

}
.test{
  display: flex;
  justify-content: center;
  flex: 0 0 10%;
}
.test2{
  display: flex;
  justify-content: center;

}
.item-experience__img {
  padding: 14px;
  border: 1px solid white;
  border-radius: 50%;
  // background: linear-gradient(90deg, rgba(255,128,2,0.1) 0%, rgba(253,18,132,0.1) 100%);
  // margin-right: 24px;
  position: relative;
  background: #000;
  @media (max-width: 500px) {
    padding: 10px;
  }
}

.item-experience__img img{

  @media (max-width: 500px) {
    height: 26px;
    width: 26px;
  }
}

.item-experience__img::after{
//   content: "";
//   display: inline-block;
// width: 2px;
// height: 100%;
// background: rgb(255, 255, 255);
// position: absolute;
// left: 50%;
// bottom: 0;
// transform: translate(-50%,100%);
@media (max-width: $md3 + px) {
  display: none;
}
}

.item-experience__year {
  padding-top: 30px;
  font-size: 16px;
  // position: absolute;
  // right: -120px;
  // top: 7%;
  width: 100px;
  flex: 0 0 45%;
  @media (max-width: $md2 + px) {
    display: none;
  }
}
.info-experience__year{
  display: none;

  @media (max-width: $md2 + px) {
    display: block;
    margin-top: 20px;
    margin-left: -20px;
    font-size: 16px;
    font-weight: 700;
  }
}
.item-experience__year-reverse{
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  @media (max-width: $md2 + px) {
    display: none;
  }
}
.item-experience__reverse{
  right: 80px;
  width: 100%;
}
.experience__text {
  // max-width: 200px;
}
.experience__title {
}
.title {
}
.title-overlay {
}